@import './variables/variables', './sections/header', './sections/hero';

html {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    background-color: $light-dark-white;
    font-family: 'Lato', sans-serif;
    color: $black;
    background-image: url(../images/header-background.png);
    background-size: 26rem;
    background-repeat: no-repeat;

    @media only screen and (max-width: 60rem) {
        background-image: none;
    }
    /* font-family: 'Mate SC', serif; */
}

*, a, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: $black;
    list-style: none;
}

a, button {
    cursor: pointer;
}

