@import './variables/variables', './sections/header', './sections/hero', './sections/presentation', './sections/join', './sections/newsletter', './sections/group', './sections/footer';

html {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    background-color: $white;
    font-family: 'Lato', sans-serif;
    color: $black;
    background-image: url(../images/header-background.png);
    background-size: 26rem;
    background-repeat: no-repeat;

    @media only screen and (max-width: $mobile) {
        background-image: none;
    }
}

*, a, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: $black;
    list-style: none;
}

a, button {
    cursor: pointer;
}

