/* Colors */

$white: #FFFFFF;
$light-dark-white: #FBFBFB;
$gray: #a2a2a2;
$dark-gray: #787878;
$black: #141414;
$red: #c72a2a;


// media query
$mobile: 79rem;

/* Red Button */
.red-bttn {
    padding: .35rem 1rem;
    border-radius: 2rem;
    background-color: $red;
    outline: none;
    border: 2px solid $red;
    color: $light-dark-white;
    font-size: 1rem;
    transition: all .3s ease-in-out;
    cursor: pointer;

    &:hover {
        color: $red;
        background-color: $light-dark-white;
    }
}